:host {
  display: inline-block;
}
h2 {
  color: purple;
}
p {
  color: greenyellow;
}
.box-outline {
  margin: 4px;
  background-color: #e4d2d2;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 20px;
}
