:host {
  display: inline-block;
}
h2 {
  color: blue;
}
p {
  color: red;
}
.box-outline {
  margin: 4px;
  background-color: #c1e7e7;
  border: 2px solid #909090;
  border-radius: 4px;
  padding: 20px;
}
