<h1>
  Angular: Ivy Lazy Loading Test with ng-select
</h1>
<h2>(also check console for output)</h2>
<p class="info">
  FOO and BAR Modules are lazy-loaded only once when required.<br>
  They each contain a component that is instantiated, and removed, with the
  buttons below.
</p>
<p>
  <button type="button"
          (click)="onLazy2()">add FOO component</button>
  <button type="button"
          (click)="onLazy1()">add BAR component</button>
  <button type="button"
          [disabled]="!pathsArray.length"
          (click)="removeLast()">REMOVE LAST</button>
</p>
<hero-loader *ngFor="let myPath of pathsArray"
             [moduleName]="myPath"></hero-loader>